*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
   
}
.container textarea{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}